# Ignore VS Code settings folder
.vscode

# Pycache
__pycache__

# Ignore log files
*.log
slurm_logs/

# Slurm scripts and logs
debug_slurm.sh
run_slurm.sh
submit_batch.py
sweep_slurm.sh

# Commands script
commands.txt
commands

# Saved model checkpoints
expri_save_models/

# Pre-generated subgraphs and other data artifacts
subgraphs_*/
neg_subgraphs/
relation2id.json
ranking_*.txt
*debug*

# Weights & Biases related
wandb/
sweep/

